.break {
  flex-basis: 100%;
  height: 0;
}

.termin-erfassung {
  display: flex;
  flex-flow: wrap;
}

.calendarWrapper {
  height: 900px;
  display: flex;
}

.mieterContainer {
  width: 20%;
}

.fc {
  width: 80%;
  font-family: Roboto;
}
